---
import './hero.css';
import Button from '../atoms/Button.astro';
import { autor } from '../../data';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">{autor.name}</h1>
			<p class="hero__text">
				Technophile
			</p>
		</div>
	</div>
</section>
