---
import Header from '../components/header/Header.astro';
import Hero from '../components/hero/Hero.astro';
import Layout from '../layouts/Layout.astro';
import { autor } from '../data';
---

<Layout title={`${autor.name} | Architecte technique et Technophile`}>
	<Header />
	<main class="self-center w-full">
		<Hero />
	</main>
</Layout>
