.header {
	display: flex;
	width: 100%;
	padding: 2rem;
	justify-content: center;
	align-items: center;
	color: var(--on-primary);
	position: fixed;
	z-index: 3;
}

.header .header__container {
	display: flex;
	width: 100%;
	max-width: var(--max-width);
	justify-content: space-between;
	background: #00000033;
	backdrop-filter: blur(20px);
	padding: 1rem 2rem;
	border-radius: 14px;
	height: auto;
	min-height: 7rem;
	border: 0.03px solid #7c39fd47;
	flex-wrap: wrap;
}

.header .profile .header__title {
	margin-top: 1rem ;
	font-size: var(--text-title);
	font-weight: 600;
	cursor: pointer;
}