---
import './header.css';
import { autor } from '../../data';
---

<header class="header">
	<!-- Marquee parce que c'est drôle :) -->
	<marquee class="header__container profile">
		<h1 class="color__gradiente header__title">{autor.name}</h1>
	</marquee>
</header>
